.container{
    .box:nth-child(1){
        background-color: $colorSection;
        font-weight: bold;
    }
    .box:nth-child(2){
        background-color: darken($colorSection, 30%);
        font-weight: bold;
    }
    .box:nth-child(3){
        background-color: lighten($colorSection, 40%);
        font-weight: bold;
    }
}

.box {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    border: 1px solid gray;
    @if $borderRadius {
        border-radius: 5%;
    }
}

.shadow {
    @if $shadowToRight {
        -webkit-box-shadow: 15px 7px 12px 7px rgba(0,0,0,0.65);
        -moz-box-shadow: 15px 7px 12px 7px rgba(0,0,0,0.65);
        box-shadow: 15px 7px 12px 7px rgba(0,0,0,0.65);
    } @else {
        -webkit-box-shadow: -11px 7px 12px 7px rgba(0,0,0,0.65);
        -moz-box-shadow: -11px 7px 12px 7px rgba(0,0,0,0.65);
        box-shadow: -11px 7px 12px 7px rgba(0,0,0,0.65);
    }
}
