@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins|Roboto+Condensed|Source+Sans+Pro&display=swap');

h2 {
    font-family: $primaryFont, sans-serif;
}
h3 {
    font-family: $secondaryFont, sans-serif;
}
div {
    font-family: 'Poppins', sans-serif;
}