@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

// Variables
$baseColor1: 200;
$baseColor2: 50;
$baseColor3: 125;
body {
    font-family: 'Quicksand', sans-serif;
}

.container_1, .container_2, .container_3 {
    display: flex;
}

.box {
    width: 100px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 134px;  
    margin-left: 5px;
    background-color: lightgray;
}
@mixin generatePalette($color) {
    @for $i from 4 to 0 {
        @if $i == 4 {
            .box:nth-child(1) {
                background-color: hsl($color, 50%-$i*5%, 50%+$i*6%);
            }
        }
        @if $i == 3 {
            .box:nth-child(2) {
                background-color: hsl($color, 50%-$i*5%, 50%+$i*6%);
            }
        }
        @if $i == 2 {
            .box:nth-child(3) {
                background-color: hsl($color, 50%-$i*5%, 50%+$i*6%);
            }
        }
        @if $i == 1 {
            .box:nth-child(4) {
                background-color: hsl($color, 50%-$i*5%, 50%+$i*6%);
            }
        }
    }
    @for $i from 6 to 10 {
        .box:nth-child(#{$i}) {
            background-color: hsl($color, 50%+$i*5%, 50%-$i*3%);
        }
    }
}
.container_1 {
    .base_1 {
        background-color: hsl($baseColor1, 50%, 50%);
    }
    @include generatePalette($baseColor1);
}
.container_2 {
    .base_2 {
        background-color: hsl($baseColor2, 50%, 50%);
    }
    @include generatePalette($baseColor2);
}
.container_3 {
    .base_3 {
        background-color: hsl($baseColor3, 50%, 50%);
    }
    @include generatePalette($baseColor3);
}





